.h1 {
    
    font-size: 1em;
    margin: 0;
    padding: 15px;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Full screen height */
    padding: 20px;
}

.post {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 400px;
}

.camera_button {
    position: absolute;
    bottom: 30px;
    transform: translateX(-50%);
    left: 50%;
    width: 80px;
    height: 80px;
}

.cameraFeed {
    width: 380px;
    height: 380px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #000;
}

.imageContainer {
    position: relative; /* Required for Image component with 'fill' layout */
    width: 400px; /* Same as the original 朝ごはん投稿画像 */
    height: 400px; /* Same as the original 朝ごはん投稿画像 */
    overflow: hidden; /* To maintain aspect ratio and avoid overflow */
}