.main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 2fr;
}

.container {
    padding-top: 40px;
    background-color: #4e2d1d;
    /* Dark brown background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    min-height: 60vh;
    padding: 0 20px;
    border-bottom: 3px solid #f4f4e4;
}

.footer {
    text-align: center;
    margin-top: 20px;
}

.title {
    color: #f4f4e4;
    /* Light cream text */
    font-size: 28px;
    margin-bottom: 40px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.form {
    width: 80%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.input {
    background-color: #d3c1aa;
    /* Light brown input fields */
    border: none;
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 15px;
    font-size: 16px;
    color: black;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for depth */
}

.button {
    background-color: #f5f5f5;
    /* Light cream button */
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: black;
    margin-top: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Button shadow */
}

.button:disabled {
    background-color: #b0a18b;
    /* Disabled button state */
    cursor: not-allowed;
    margin: 30px;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.registration-container {
    margin-top: 20px;
    text-align: center;
    color: #f5f5f5;
    /* Light cream text for registration link */
}

.registration-container div {
    margin-top: 10px;
    cursor: pointer;
    color: #f5f5f5;
    /* Registration text color */
    font-weight: bold;
}

